<h2>Product List</h2>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalTittle}}  </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body">
  <div>
    <div class="form-group">
      <div *ngIf="isEditable"> 
        <input type="text" id="pn" class="form-control" placeholder="Product Name"   [(ngModel)]="productData.name" [ngModelOptions]="{standalone: true}"><br>
        <input id="pp" class="form-control" placeholder="Product Price" [(ngModel)]="productData.price" name="pdo" ><br>
        <input id="ps" class="form-control" placeholder="Product Stock"     [(ngModel)]="productData.stock"            name="pc" ><br>
       
      </div>
      <div *ngIf="!isEditable"> 
        <input type="text" id="pn" class="form-control" placeholder="Product Name"   [(ngModel)]="productData.name" [ngModelOptions]="{standalone: true}" readonly><br>
        <input id="pp" class="form-control" placeholder="Product Price" [(ngModel)]="productData.price" name="pdo" readonly ><br>
        <input id="ps" class="form-control" placeholder="Product Stock"     [(ngModel)]="productData.stock"            name="pc" readonly ><br>
       
      </div>
    </div>
</div>
</div>
<div  class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Continue click')">Continue</button>
</div>
</ng-template>
<div class="products">
  <ul  *ngFor="let p of products;index as i;" class="product-fields">
    <li><p >{{i+1}} {{p.name}}</p></li>
    <li><p >R{{p.price}}</p></li>
    <li><a (click)="openView(content,p)">View</a><a  (click)="openEdit(content,p)" >Edit</a><a (click)="openDelete(content,p)">Delete</a></li>
  </ul>
</div>
<div>
    <button type="button" class="create-product" (click)="add()">
        <i class="fa fa-plus" aria-hidden="true">Add New Product</i>
    </button>
  </div>